
.project-sidebar{
    background: #f0f0f0;
    /* width: 12rem; */
    position: absolute;
    height: 100vh;
    overflow-y: scroll;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    border-right: 0.05em solid #00000008;
    
}

.project-sidebar2{
    background: #f0f0f0;
    /* width: 12rem; */
    position: absolute;
    height: 80vh;
    overflow-y: scroll;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    border-right: 0.05em solid #00000008;
    
}